@import '../vars';
@import '../mixins';

.slider{
    margin-top: 50px;
    height: 800px;
    background: linear-gradient(rgba(36, 33, 33, 0.3), rgba(36, 33, 33, 0.3)), url(../../images/slider-cover.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
    &__title{
        width: 600px;
        margin: 0;
        @include font($font-color-light, 48px, normal, 400, 116.667%, 0.6px);
    }
    &__subtitle{
        margin: 0;
        @include font($font-color-light, 14px, normal, 300, 128.571%, 0.6px);
    }
}   