@import '../vars';

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 40px;
    }
    &__link{
        text-decoration: none;
        color: $font-color-light;
        padding: 10px;
        position: relative;
        transition: .3s;
        font-size: 18px;

        &::after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $font-color-highlight;
            transition: .3s;
        }
        &:hover,
        &:focus{
            color: $font-color-highlight;
        }
        &:hover::after,
        &:focus::after{
            width: 100%;
        }
    }
    &__button{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu__link{
        font-size: 16px;
    }
}

@media (max-width: 767.99px) {
    .menu__list{
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: $secondary-font-color;
        z-index: 10;
        transform: translate(100%);
        transition: .5s ease;

        &_open{
            transform: translate(0);
        }
    }
    .menu__link{
        font-size: 14px;
    }
    .menu__button{
        display: flex;
        background: none;
        border: none;
        padding: 0;
        z-index: 100;

        & > i{
            color: $font-color-light;
            font-size: 35px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}