@import '../vars';
@import '../mixins';

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin: 0;
        font-family: 'Raleway', sans-serif;
        @include font($font-color-dark, 200px, normal, 700, normal, 0.6px);
    }
    &__subtitle{
        margin: 0;
        @include font($font-color-dark, 24px, normal, 400, normal, 0.6px);
    }
}