@import '../vars';
@import '../mixins';

.section-subtitle{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    @include font($primary-font-color, 24px, normal, 400, 116.667%, 0.6px);
    display: flex;
    align-items: center;
    max-width: 220px;

    &_el_1::before{
        content: url(../../images/icons/sun.svg);
        margin-right: 10px;
    }
    &_el_2::before{
        content: url(../../images/icons/plane.svg);
        margin-right: 10px;
    }
    &_el_3::before{
        content: url(../../images/icons/surf.svg);
        margin-right: 10px;
    }
    &_el_4::before{
        content: url(../../images/icons/wave1.svg);
        margin-right: 10px;
    }
    &_el_5::before{
        content: url(../../images/icons/wave2.svg);
        margin-right: 10px;
        margin-top: 15px;
    }
    &_el_6::before{
        content: url(../../images/icons/wave3.svg);
        margin-right: 10px;
        margin-top: 15px;
    }
}