@import '../vars';
@import '../mixins';

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $font-color-highlight;
    @include font($font-color-light, 24px, normal, 400, 116.667%, 0.6px);
}

@media (max-width: 1023.99px) {
    .footer{
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 20px;
    }
}

@media (max-width: 767.99px) {
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
}