@import '../vars';
@import '../mixins';

.about{
    margin-top: 80px;
    padding: 0;
    display: grid;

    &_order_1{
        grid-template-columns: repeat(2,1fr);
        column-gap: 100px;
        row-gap: 30px;
    }
    &_order_2{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        column-gap: 60px;
        row-gap: 80px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;   
        
        &:last-of-type{
            grid-column-start: 2;
            grid-column-end: 4;
            max-width: 500px;
            justify-self: end;
        }
    }
    &__subtitle{
        margin-bottom: 15px;
    }
}

.about > li {
    list-style-type: none;
}

@media (min-width: 1024px) and (max-width: 1279.99px) {
    .about{
        margin-top: 60px;
    }
}

@media (max-width: 1023.99px) {
    .about{
        margin-top: 50px;

        &_order_1{
            grid-template-columns: 1fr;
            row-gap: 25px;
        }
        &_order_2{
            grid-template-columns: 1fr;
            gap: 40px;
        }
        &__info:nth-of-type(n+4){
            display: none;
        }
    }
}

@media (max-width: 767.99px) {
    .about{
        margin-top: 40px;
    }
}